* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family:'Courier New', Courier, monospace;
  background-color: #444;
}

.container {
  width: 100vw;
  height: 100vh;
  color: #eee;
  display: flex;
}

.experiment {
  margin: auto;
  width: 750px;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.screen {
  width: 600px;
  height: 600px;
  background-color: red;
  display: flex;
  cursor: none;
}

.square {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  z-index: 10;
  display: flex;
}

.cross {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 100;
  color: #888;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.patches {
  display: flex;
  flex-direction: column;
}

.timer {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  display: flex;
  text-align: center;
  color: #444;
  cursor: pointer;
}

.timer:active {
  color: #000;
  background-color: #aaa;
}

.timer-text {
  margin: auto;
}

.patches {
  div {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    cursor: pointer;
  }

  .red {
    background-color: red;
  }

  .red:active {
    background-color: rgba(255, 0, 0, 0.808);
  }

  .green {
    background-color: green;
  }

  .green:active {
    background-color: rgba(0, 128, 0, 0.822);
  }

  .blue {
    background-color: blue;
  }

  .blue:active {
    background-color: rgba(0, 0, 255, 0.781);
  }

  .yellow {
    background-color: yellow;
  }

  .yellow:active {
    background-color: rgba(255, 255, 0, 0.74);
  }

  .selected {
    outline-offset: 2px;
    outline: 1px solid white;
  }
}

.instructions {
  h2 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}

